
// Breakpoints
$breakpoints: (
    medium: 540px,
    xmedium: 640px,
    xxmedium: 960px,
    large: 1024px,
    llarge: 1160px,
    xlarge: 1280px,
    xxlarge: 1440px,
    zlarge: 1600px,
    zzlarge: 1920px,
    maximum: 2100px
);


// VARIABLES GLOBALES.

// Variables de apilamiento - "z-index"
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-modal-max: 10000;
}


// Anchos.
:root {
    --min-width: 320px;
    --max-width: 1430px;
}

// Variables para los elementos "h"
:root {
    --font-family-h: 'Lato', sans-serif;
}


// Variables y estilos para body
:root {
    --font-weight-body: 400;
    --line-height-body: 140%;
    --font-size-body: 1.25rem;
    --color-body: rgb(30, 63, 63);
    --font-family-body: 'Bitter', serif;
    --background-color-body: #f5f8ff;
    --font-family-body-alt:'Roboto', sans-serif;

    @include from(medium) {
        --font-size-body: 1.375rem;
    }
}

// Variables y estilos para header
:root {
    --width-logo: 2.8rem;
    --height-header: 3.8rem;
    --background-color-header: #fff;

    // Website title.
    --color-site-title: #6a7477;
    --font-weight-site-title: 400;
    --line-height-site-title: 100%;
    --font-size-site-title: 1.875rem;
    --font-family-site-title: 'Amaranth', sans-serif;

    @include from(412px) {
        --font-size-site-title: 2.0625rem;
    }
}


// Variables y estilos para menu
:root {
    --color-menu: #fff;
    --color-menu-alt: #aab0b5;
    --font-weight-menu: 300;
    --line-height-menu: 140%;
    --font-size-menu: 1.375rem;
    --color-menu-hover: #fff;
    --font-family-menu: 'Roboto', sans-serif;

    @include from(large) {
        --color-menu: #6a7477;
        --color-menu-alt:#6a7477;
        --line-height-menu: 145%;
        --font-weight-menu: 400;
        --font-size-menu: 1.125rem;
        // --color-menu-hover: #0098b8;
        --color-menu-hover: #3399ff;
    }
}

// Variables y estilos para burguer-button
:root {
    --color-togle-button: #6a7477;
    --color-togle-button-alt: #094293;
}

// Variables y estilos para banner
:root {
    --background-color-banner: #2e5dd8;
}

// Variables y estilos para footer
:root {
    --font-family-footer: 'Lato', sans-serif;
}


// Tamaños de fuentes.
:root {
    --font-size-h1: 48px;
    --font-size-h2: 30px;
    --font-size-body: 20px;
}


// Variables para cursor.
:root {
    --cursor-button: default;

    @include from(large) {
        --cursor-button: pointer;
    }
}

// Variables para los enlaces.
:root {

    @include from(large) {
        // Color de borde.
        // --border-color-link-focus: #0098b8;
        --border-color-link-focus: #3399ff;
        // --border-color-link-focus: #2e5dd8;
        // --border-color-link-focus: #41c66e;
        --border-color-link-focus-alt: #62e884;

        // Tipo de borde
        --border-radius-link: .3125rem;
        --border-link: .125rem solid transparent;
    }
}


// Variables para button.
:root {
    --color-button: #fff;
    --font-weight-button: 400;
    --font-size-button: 1.25em;
    --background-color-button: #f59622;
    --background-color-button-alt: #ffc36e;
    --background-color-button-other: #0098b8;
    --font-family-button: 'Roboto', sans-serif;

    @include from(360px) {
        --font-size-button: 1.3em;
    }

    // @include from(medium) {
    //     --font-size-button: 1.4em;
    // }

    @include from(zlarge) {
        --font-size-button: 1.5em;
    }
}



