
// Breakpoints
$breakpoints: (
    medium: 540px,
    xmedium: 640px,
    xxmedium: 960px,
    large: 1024px,
    llarge: 1160px,
    xlarge: 1280px,
    xxlarge: 1440px,
    zlarge: 1600px,
    zzlarge: 1920px,
    maximum: 2100px
);


// VARIABLES GLOBALES.

// Variables de apilamiento - "z-index"
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-modal-alt: 10000;
}


// Width
:root {
    --min-width: 320px;
    --max-width: 1430px;
}

// Tamaños de fuentes
:root {
    --font-size-body: 20px;
}

// Colores
:root {
    --color-dark-gray: #646464;
    --color-light-gray: #c2c2c2;
    --color-more-dark-gray: #333333;
    --color-pearl-light-gray: #9c9c9c;


    --color-two: #094293;
    --color-houm: #ff452b;
    --color-error: #cc0000;

    --color-text: #495057;

    --color-gvs-blue: #80bdff;
    --color-depsky-blue: #00bfff;
    --color-dodger-blue: #1E90FF;

    --color-pass: #5aaa9a;


    --color-button-blue: #0099ff;
    --color-button-blue-alt: #0066ff;

}

// Fonts
:root {
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Lato', sans-serif;
    --font-family-tertiary: 'Ubuntu', sans-serif;
}


// Variables y estilos para body
:root {
    --font-weight-body: 400;
    // TODO: Revisar la declaración de estas variables.
    // --line-height-body: 140%;
    // --font-size-body: 1.25rem;
    --color-body: rgb(30, 63, 63);
    --font-family-body: 'Bitter', serif;
    --background-color-body: #f5f8ff;
    --font-family-body-alt:'Roboto', sans-serif;

    // @include from(medium) {
    //     --font-size-body: 1.375rem;
    // }
}

// Variables y estilos para header
:root {
    --width-logo: 2.8rem;
    --height-header: 3.8rem;
    --background-color-header: #fff;

    // Website title.
    --color-site-title: #6a7477;
    --font-weight-site-title: 400;
    // TODO: Revisar la declaración de esta variable.
    --line-height-site-title: 100%;
    --font-size-site-title: 1.875rem;
    --font-family-site-title: 'Amaranth', sans-serif;

    @include from(412px) {
        --font-size-site-title: 2.0625rem;
    }
}


// Variables y estilos para menu
:root {
    --color-menu: #fff;
    --color-menu-alt: #aab0b5;
    --font-weight-menu: 300;
    // TODO: Revisar la declaración de esta variable.
    --line-height-menu: 140%;
    --font-size-menu: 1.375rem;
    --color-menu-hover: #fff;
    --font-family-menu: 'Roboto', sans-serif;

    @include from(large) {
        --color-menu: #6a7477;
        --color-menu-alt:#6a7477;
        // TODO: Revisar la declaración de esta variable.
        --line-height-menu: 145%;
        --font-weight-menu: 400;
        --font-size-menu: 1.125rem;
        --color-menu-hover: #0098b8;
    }
}

// Variables y estilos para burguer-button
:root {
    --color-togle-button: #6a7477;
    --color-togle-button-alt: #094293;
}

// Variables y estilos para banner
:root {
    --background-color-banner: #2e5dd8;
}

// Variables y estilos para footer
:root {
    --font-family-footer: 'Lato', sans-serif;
}

// Variables y estilos para form
// :root {
//     --font-family-form: 'Lato', sans-serif;
// }

// Variables para cursor.
:root {
    --cursor-button: default;

    @include from(large) {
        --cursor-button: pointer;
    }
}

// Variables para los enlaces.
:root {

    @include from(large) {
        // Color de borde.
        --border-color-link-focus: #0098b8;
        --border-color-link-focus-alt: #62e884;
        --border-color-link-focus-other: #3399ff;

        // Tipo de borde
        --border-radius-link: .3125rem;
        --border-link: .125rem solid transparent;
    }
}





