:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --z-modal-max: 10000; }

:root {
  --min-width: 320px;
  --max-width: 1430px; }

:root {
  --font-size-body: 20px;
  --font-size-small: 16px; }

:root {
  --font-family-headlines: 'Lato', sans-serif;
  --font-family-caption: 'Open Sans', sans-serif; }

:root {
  --font-weight-body: 400;
  --line-height-body: 140%;
  --color-body: rgb(30, 63, 63);
  --font-family-body: 'Bitter', serif;
  --background-color-body: #f5f8ff;
  --font-family-body-alt:'Roboto', sans-serif; }

:root {
  --width-logo: 2.8rem;
  --height-header: 3.8rem;
  --background-color-header: #fff;
  --color-site-title: #6a7477;
  --font-weight-site-title: 400;
  --line-height-site-title: 100%;
  --font-size-site-title: 1.875rem;
  --font-family-site-title: 'Amaranth', sans-serif; }
  @media screen and (min-width: 412px) {
    :root {
      --font-size-site-title: 2.0625rem; } }

:root {
  --color-menu: #fff;
  --color-menu-alt: #aab0b5;
  --font-weight-menu: 300;
  --line-height-menu: 140%;
  --font-size-menu: 1.375rem;
  --color-menu-hover: #fff;
  --font-family-menu: 'Roboto', sans-serif; }
  @media screen and (min-width: 1024px) {
    :root {
      --color-menu: #6a7477;
      --color-menu-alt:#6a7477;
      --line-height-menu: 145%;
      --font-weight-menu: 400;
      --font-size-menu: 1.125rem;
      --color-menu-hover: #0098b8; } }

:root {
  --color-togle-button: #6a7477;
  --color-togle-button-alt: #094293; }

:root {
  --background-color-banner: #2e5dd8; }

:root {
  --font-family-footer: 'Lato', sans-serif; }

:root {
  --font-family-form: 'Lato', sans-serif; }

:root {
  --cursor-button: default; }
  @media screen and (min-width: 1024px) {
    :root {
      --cursor-button: pointer; } }

@media screen and (min-width: 1024px) {
  :root {
    --border-color-link-focus: #0098b8;
    --border-color-link-focus-alt: #62e884;
    --border-color-link-focus-other: #3399ff;
    --border-radius-link: .3125rem;
    --border-link: .125rem solid transparent; } }

:root {
  --color-button: #fff;
  --font-weight-button: 400;
  --font-size-button: 1.25em;
  --background-color-button: #f59622;
  --background-color-button-alt: #ffc36e;
  --background-color-button-other: #0098b8;
  --font-family-button: 'Roboto', sans-serif; }
  @media screen and (min-width: 360px) {
    :root {
      --font-size-button: 1.3em; } }
  @media screen and (min-width: 1600px) {
    :root {
      --font-size-button: 1.5em; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  color: var(--color-body);
  line-height: var(--line-height-body);
  background-color: var(--background-color-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  font-family: var(--font-family-body); }

img {
  width: 100%;
  display: block;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-family: var(--font-family-headlines); }

p {
  margin-top: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

a,
i,
button {
  outline: none;
  cursor: var(--cursor-button); }

button {
  padding: 0;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit; }
  button:focus {
    outline: none; }
  button::-moz-focus-inner {
    border: 0; }

small {
  font-size: var(--font-size-small);
  font-family: 'Lato', sans-serif; }

ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

label,
input,
textarea {
  font-family: var(--font-family-form); }

input:focus,
textarea:focus {
  outline: none; }

.caption {
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-family-caption); }

.line-break412::before,
.line-break960::before,
.line-break1200::before {
  display: block;
  content: ""; }

@media screen and (min-width: 412px) {
  .line-break412::before {
    display: inline; } }

@media screen and (min-width: 960px) {
  .line-break960::before {
    display: inline; } }

@media screen and (min-width: 1200px) {
  .line-break1200::before {
    display: inline; } }

.main-header-layout {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: var(--min-width);
  max-width: var(--max-width); }

.main-header-layout {
  padding: 0 .5rem 0 .3rem; }
  @media screen and (min-width: 412px) {
    .main-header-layout {
      padding: 0 .7rem 0 .5rem; } }
  @media screen and (min-width: 640px) {
    .main-header-layout {
      padding: 0 .9rem 0 .5rem; } }
  @media screen and (min-width: 1024px) {
    .main-header-layout {
      padding: 0 1.5rem 0 .7rem; } }
  @media screen and (min-width: 1280px) {
    .main-header-layout {
      padding: 0 1.5rem 0 1rem; } }
  @media screen and (min-width: 1500px) {
    .main-header-layout {
      padding: 0; } }

.banner-layout {
  padding: 2.5rem .5rem 3rem;
  margin-top: var(--height-header);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%); }
  @media screen and (min-width: 640px) {
    .banner-layout {
      padding: 5rem 1.5rem 3rem; } }
  @media screen and (min-width: 840px) {
    .banner-layout {
      padding: 8rem 1.5rem 3rem; } }
  @media screen and (min-width: 960px) {
    .banner-layout {
      padding: 10rem 1.5rem 4rem; } }
  @media screen and (min-width: 1024px) {
    .banner-layout {
      padding: 14rem 1.5rem 4rem; } }
  @media screen and (min-width: 960px) {
    .banner-layout {
      --polygon-banner: 0 0, 100% 0, 100% 100%, 0 94%; } }
  @media screen and (min-width: 2100px) {
    .banner-layout {
      padding: 16rem 1.5rem 5rem; } }

.social-bar-layout,
.main-footer-layout {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width); }

.form-layout {
  width: 100%; }

.btn-whatsapp {
  width: 60px;
  height: 60px;
  right: 10px;
  bottom: 70px;
  display: flex;
  font-size: 60px;
  position: fixed;
  color: #0df053;
  border-radius: 5px;
  align-items: center;
  z-index: var(--z-fixed);
  justify-content: center;
  background-color: transparent;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }
  .btn-whatsapp:hover {
    color: #0df053;
    background-color: #fff; }

.button {
  text-align: center;
  border-radius: .125em;
  padding: .3em 2.2em;
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-button);
  font-size: var(--font-size-button);
  border: .144230769em solid transparent;
  font-family: var(--font-family-button);
  font-weight: var(--font-weight-button);
  background-color: var(--background-color-button); }

/* ------------------ HEADER ---------------------- */
.main-header {
  --margin-right-link-logo: .3rem;
  /*--------------------------------------------*/ }
  @media screen and (min-width: 1024px) {
    .main-header {
      --margin-right-link-logo: 0;
      --padding-title-link: .1rem .2rem;
      --padding-link-logo: .2rem .1rem .2rem 0;
      /*-------------------------------------------*/ } }

.main-header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: var(--z-fixed);
  height: var(--height-header);
  background-color: var(--background-color-header); }
  .main-header__container {
    display: flex;
    align-items: center; }
  .main-header__link-logo {
    padding: var(--padding-link-logo);
    margin-right: var(--margin-right-link-logo); }
  .main-header__link-logo, .main-header__title-link {
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
  .main-header__link-logo:focus, .main-header__title-link:focus {
    border-color: var(--border-color-link-focus); }
  .main-header__logo {
    width: var(--width-logo); }
  .main-header__title {
    margin-bottom: 0;
    margin-right: auto;
    line-height: var(--line-height-site-title);
    font-size: var(--font-size-site-title);
    font-family: var(--font-family-site-title);
    font-weight: var(--font-weight-site-title); }
  .main-header__title-link {
    padding: var(--padding-title-link);
    color: var(--color-site-title); }

/*---------------- BURGUER BUTTON ------------------*/
.burguer-button {
  --display-button: visibility; }
  @media screen and (min-width: 1024px) {
    .burguer-button {
      --display-button: none; } }

.burguer-button {
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: var(--cursor-button);
  display: var(--display-button); }
  .burguer-button__line, .burguer-button__line::before, .burguer-button__line::after {
    width: 100%;
    height: .25rem;
    position: absolute;
    border-radius: 1.25rem;
    background-color: var(--color-togle-button); }
  .burguer-button__line {
    top: 50%;
    transform: translateY(-50%); }
  .burguer-button__line::before, .burguer-button__line::after {
    content: '';
    right: 0; }
  .burguer-button__line::before {
    top: -200%; }
  .burguer-button__line::after {
    top: 200%; }

.cruz {
  transform: rotateZ(45deg);
  top: 43%; }
  .cruz::before {
    transform: rotateZ(90deg); }
  .cruz::before, .cruz::after {
    top: 0; }

/*------------------ MAIN NAV ----------------------*/
.main-nav {
  --width-main-nav: 100vw;
  --position-main-nav: fixed;
  --overflow-y-main-nav: scroll;
  --transition-main-nav: left .6s;
  --flex-direction-main-nav: column;
  --background-color-main-nav: #2a3b47;
  --border-top-menu: .0625rem solid #11191e;
  --border-bottom-menu: .125rem solid #485761;
  --border-top-item: .125rem solid #485761;
  --border-bottom-item: .0625rem solid #11191e;
  --padding-link: .7rem; }
  @media screen and (min-width: 1024px) {
    .main-nav {
      --width-main-nav: auto;
      --position-main-nav: static;
      --overflow-y-main-nav: auto;
      --transition-main-nav: none;
      --flex-direction-main-nav: row;
      --align-items-main-nav: center;
      --background-color-main-nav: transparent;
      --display-menu: flex;
      --border-top-menu: none;
      --border-bottom-menu: none;
      --border-top-item: none;
      --border-bottom-item: none;
      --margin-right-item: .625rem;
      --margin-right-item-last-child: 1.5rem;
      --padding-link: .1rem .5rem; } }

.contact-bar {
  --order-contact-bar: -1;
  --padding-contact-bar: 1.5rem 1.5rem;
  --justify-content-contact-bar: flex-end;
  --color-contact-bar-mail: #fff;
  --color-contact-bar-mail-hover: #fff; }
  @media screen and (min-width: 1024px) {
    .contact-bar {
      --padding-contact-bar: 0;
      --order-contact-bar: unset;
      --justify-content-contact-bar: unset;
      --color-contact-bar-mail: #9b9b9b;
      --padding-contact-bar-mail: 0 .3125rem;
      --color-contact-bar-mail-hover: #3399ff; } }

.social-bar {
  --margin-top-social-bar: auto;
  --padding-wrapper: 1rem 0 1.2rem;
  --font-size-icons: 1.6rem; }
  @media screen and (min-width: 540px) {
    .social-bar {
      --padding-wrapper: 1rem 1rem 1.2rem;
      --font-size-icons: 1.8rem; } }
  @media screen and (min-width: 960px) {
    .social-bar {
      --padding-wrapper: 1rem 5rem 1.2rem; } }
  @media screen and (min-width: 1024px) {
    .social-bar {
      --margin-top-social-bar: 0;
      --background-color-social-bar:  #5396f0;
      --padding-wrapper: 2rem 10rem;
      --color-title: #fff;
      --font-size-title: 2.625rem;
      --margin-bottom-title: 2rem;
      --display-social-bar-a: flex;
      --width-social-bar-a: 3.125rem;
      --height-social-bar-a: 3.125rem;
      --align-items-social-bar-a: center;
      --justify-content-social-bar-a: center; } }
  @media screen and (min-width: 1280px) {
    .social-bar {
      --padding-wrapper: 2rem 15rem; } }
  @media screen and (min-width: 1440px) {
    .social-bar {
      --padding-wrapper: 2rem 20rem; } }

.main-nav {
  left: -100vw;
  display: flex;
  top: var(--height-header);
  width: var(--width-main-nav);
  position: var(--position-main-nav);
  overflow-y: var(--overflow-y-main-nav);
  transition: var(--transition-main-nav);
  align-items: var(--align-items-main-nav);
  flex-direction: var(--flex-direction-main-nav);
  background-color: var(--background-color-main-nav); }
  .main-nav__move {
    left: 0; }
  .main-nav__menu {
    display: var(--display-menu);
    border-top: var(--border-top-menu);
    border-bottom: var(--border-bottom-menu); }
  .main-nav__item {
    border-top: var(--border-top-item);
    margin-right: var(--margin-right-item);
    border-bottom: var(--border-bottom-item); }
  .main-nav__item:last-child {
    margin-right: var(--margin-right-item-last-child); }
  .main-nav__item:hover {
    border-top: none;
    border-bottom: none; }
  .main-nav__link {
    display: block;
    padding: var(--padding-link); }
  .main-nav__link {
    color: var(--color-menu);
    line-height: var(--line-height-menu);
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-menu);
    font-family: var(--font-family-menu); }
  .main-nav__link {
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
  .main-nav__link:hover {
    color: var(--color-menu-hover); }
  .main-nav__link:focus {
    border-color: var(--border-color-link-focus); }

.contact-bar {
  display: flex;
  order: var(--order-contact-bar);
  padding: var(--padding-contact-bar);
  justify-content: var(--justify-content-contact-bar); }
  .contact-bar__mail {
    font-size: 40px;
    border: var(--border-link);
    color: var(--color-contact-bar-mail);
    padding: var(--padding-contact-bar-mail);
    border-radius: var(--border-radius-link); }
  .contact-bar__mail:hover {
    color: var(--color-contact-bar-mail-hover); }
  .contact-bar__mail:focus {
    border-color: var(--border-color-link-focus); }

.social-bar {
  margin-top: var(--margin-top-social-bar);
  background-color: var(--background-color-social-bar); }
  .social-bar__wrapper {
    padding: var(--padding-wrapper); }
  .social-bar__title {
    color: var(--color-title);
    font-size: var(--font-size-title);
    margin-bottom: var(--margin-bottom-title); }
  .social-bar__icons {
    display: flex;
    justify-content: space-around;
    font-size: var(--font-size-icons); }
  .social-bar a {
    color: #fff;
    border: var(--border-link);
    width: var(--width-social-bar-a);
    height: var(--height-social-bar-a);
    display: var(--display-social-bar-a);
    border-radius: var(--border-radius-link);
    align-items: var(--align-items-social-bar-a);
    justify-content: var(--justify-content-social-bar-a); }
  .social-bar a:focus {
    border-color: var(--border-color-link-focus-alt); }

.banner {
  --objet-position-hero-image: center;
  --font-weight-title: 400;
  --line-height-title: 120%;
  --margin-bottom-title: 2rem;
  --font-size-title: 2.5625rem;
  --display-products: grid;
  --margin-bottom-products: 2rem;
  --grid-row-gap-products: .75rem;
  --grid-column-gap-products: .625rem;
  --width-icon: 3.125rem;
  --margin-bottom-icon: .3125rem;
  --font-size-icon-text: .875rem; }
  @media screen and (min-width: 412px) {
    .banner {
      --font-size-title: 3.125rem;
      --margin-bottom-products: 2.5rem;
      --grid-row-gap-products: .875rem;
      --grid-column-gap-products: 1.125rem;
      --width-icon: 3.75rem;
      --margin-bottom-icon: .5rem;
      --font-size-icon-text: 1rem; } }
  @media screen and (min-width: 512px) {
    .banner {
      --font-size-title: 3.5rem;
      --line-height-title: 107%;
      --grid-row-gap-products: 1.25rem;
      --margin-bottom-products: 2.8rem;
      --grid-column-gap-products: 2.25rem; } }
  @media screen and (min-width: 540px) {
    .banner {
      --font-size-title: 4.125rem;
      --margin-bottom-title: 2.5rem;
      --grid-column-gap-products: 2.8125rem; } }
  @media screen and (min-width: 840px) {
    .banner {
      --font-size-title: 3.5rem;
      --line-height-title: 71px;
      --display-products: flex;
      --grid-row-gap-products: normal;
      --grid-column-gap-products: normal;
      --margin-right-item: 1.875rem;
      --margin-right-item-last-child: 0;
      --width-icon: 3.125rem; } }
  @media screen and (min-width: 960px) {
    .banner {
      --font-size-title: 3.8rem;
      --margin-right-item: 2.25rem;
      --width-icon: 3.75rem; } }
  @media screen and (min-width: 1024px) {
    .banner {
      --objet-position-hero-image: right;
      --margin-bottom-products: 3.5rem; } }
  @media screen and (min-width: 1280px) {
    .banner {
      --objet-position-hero-image:  65% 50%;
      --font-size-title: 4.1rem;
      --margin-right-item: 3.125rem; } }
  @media screen and (min-width: 2100px) {
    .banner {
      --objet-position-hero-image: center;
      --font-size-title: 5.1rem;
      --margin-bottom-title: 4rem;
      --margin-right-item: 4.375rem;
      --width-icon: 4.375rem;
      --font-size-icon-text: 1.0625rem; } }

.banner {
  font-size: 1rem;
  position: relative;
  background-color: var(--background-color-banner); }
  .banner__hero-image {
    top: 0;
    left: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: var(--objet-position-hero-image); }
  .banner__content {
    display: flex;
    color: #fff;
    align-items: center;
    position: relative;
    flex-direction: column; }
  .banner__title {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family-h);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-title);
    margin-bottom: var(--margin-bottom-title); }
  .banner__products {
    display: var(--display-products);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: var(--grid-row-gap-products);
    margin-bottom: var(--margin-bottom-products);
    grid-column-gap: var(--grid-column-gap-products); }
  .banner__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: var(--margin-right-item); }
  .banner__item:last-child {
    margin-right: var(--margin-right-item-last-child); }
  .banner__icon {
    width: var(--width-icon);
    margin-bottom: var(--margin-bottom-icon); }
  .banner__icon-text {
    font-weight: 400;
    text-transform: uppercase;
    font-size: var(--font-size-icon-text); }

.form {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  font-size: 14px;
  overflow-y: scroll;
  padding: 10px 6px 10px;
  z-index: var(--z-modal);
  background-color: rgba(0, 0, 0, 0.9); }
  .form__container {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: #fff;
    transition: transform .5s;
    transform: translateY(-100vh); }
  .form__close {
    font-size: 40px;
    color: #3399ff;
    text-align: right;
    align-self: flex-end;
    padding: 15px 20px 5px; }
  .form__title {
    font-size: 51px;
    line-height: 48px; }
  .form__subtitle {
    font-size: 23px; }
  .form__title, .form__subtitle {
    text-align: center;
    background-color: #fff; }
  .form__fielset {
    margin: 0;
    border: none;
    margin-bottom: 15px;
    padding: 20px 6px 10px; }
  .form__box {
    margin-bottom: 16px; }
  .form__box:nth-child(4) {
    margin-bottom: 5px; }
  .form__box:last-child {
    display: flex;
    margin-bottom: 0;
    align-items: center; }
  .form__label {
    display: inline-block;
    text-transform: uppercase; }
  .form__input, .form__textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px 6px; }
  .form__textarea {
    resize: none;
    min-height: 120px; }
  .form__input-terminos {
    width: 20px;
    height: 20px;
    margin-right: 8px; }
  .form__button {
    width: 90%;
    align-self: center;
    margin-bottom: 18px;
    background-color: #e60023; }
  .form__modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: var(--z-modal-max);
    position: fixed;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center; }
  .form__modal-content {
    width: 90%;
    height: 250px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s;
    transform: translateY(-100vh); }
  .form__modal-confirmation {
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #00a135; }
  .form__modal-message {
    margin-bottom: 3rem; }
  .form__modal-close {
    color: white;
    padding: 7px 60px;
    background-color: #0a0a0a; }
  .form__copyright {
    text-align: center;
    margin-bottom: 5px; }
  .form__copyright small {
    font-size: 18px; }
  .form--show {
    transform: translateY(0); }

.main-footer {
  text-align: center; }
  .main-footer__development {
    color: #fff;
    font-size: 1rem;
    background-color: #2e5dd8; }
  .main-footer__wrapper {
    padding: 1rem 0; }
    .main-footer__wrapper p {
      margin-bottom: .8rem;
      line-height: 130%; }
  .main-footer__wrapper :nth-child(3) {
    margin-bottom: 2rem; }
  .main-footer__country {
    display: flex;
    width: 12.5rem;
    color: #4b4b4b;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #c2c2c2;
    border: .0625rem solid #eee; }
    .main-footer__country img {
      width: 4.375rem;
      height: 1.875rem;
      margin-right: 1.5rem;
      border-right: .0625rem solid #eee; }
