:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --min-width: 320px;
  --max-width: 1430px; }

:root {
  --font-weight-body: 400;
  --line-height-body: 140%;
  --font-size-body: 1.25rem;
  --color-body: rgb(30, 63, 63);
  --font-family-body: 'Bitter', serif;
  --background-color-body: #f5f8ff;
  --font-family-body-alt:'Roboto', sans-serif; }
  @media screen and (min-width: 540px) {
    :root {
      --font-size-body: 1.375rem; } }

:root {
  --width-logo: 2.8rem;
  --height-header: 3.8rem;
  --background-color-header: #fff;
  --color-site-title: #6a7477;
  --font-weight-site-title: 400;
  --line-height-site-title: 100%;
  --font-size-site-title: 1.875rem;
  --font-family-site-title: 'Amaranth', sans-serif; }
  @media screen and (min-width: 412px) {
    :root {
      --font-size-site-title: 2.0625rem; } }

:root {
  --color-menu: #aab0b5;
  --font-weight-menu: 400;
  --line-height-menu: 140%;
  --font-size-menu: 1.25rem;
  --color-menu-hover: #fff;
  --font-family-menu: 'Bitter', serif; }
  @media screen and (min-width: 1024px) {
    :root {
      --color-menu: #6a7477;
      --line-height-menu: 145%;
      --font-size-menu: 1.125rem;
      --color-menu-hover: #0098b8;
      --font-family-menu: 'Roboto', sans-serif; } }

:root {
  --color-togle-button: #6a7477;
  --color-togle-button-alt: #094293; }

:root {
  --font-family-footer: 'Lato', sans-serif; }

:root {
  --font-size-h1: 48px;
  --font-size-h2: 30px;
  --font-size-body: 20px; }

:root {
  --cursor-button: default; }
  @media screen and (min-width: 1024px) {
    :root {
      --cursor-button: pointer; } }

@media screen and (min-width: 1024px) {
  :root {
    --border-color-link-focus: #0098b8;
    --border-color-link-focus-alt: #62e884;
    --border-radius-link: .3125rem;
    --border-link: .125rem solid transparent; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  color: var(--color-body);
  line-height: var(--line-height-body);
  background-color: var(--background-color-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  font-family: var(--font-family-body); }

img {
  width: 100%;
  display: block;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

a,
i,
button {
  outline: none;
  cursor: var(--cursor-button); }

button {
  padding: 0;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit; }
  button:focus {
    outline: none; }
  button::-moz-focus-inner {
    border: 0; }

small {
  font-size: var(--font-size-small); }

ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.line-break412::before,
.line-break1200::before {
  display: block;
  content: ""; }

@media screen and (min-width: 412px) {
  .line-break412::before {
    display: inline; } }

@media screen and (min-width: 1200px) {
  .line-break1200::before {
    display: inline; } }

.main-header__layout {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: var(--min-width);
  max-width: var(--max-width); }

.main-header__layout {
  padding: 0 .5rem 0 .3rem; }
  @media screen and (min-width: 412px) {
    .main-header__layout {
      padding: 0 .7rem 0 .5rem; } }
  @media screen and (min-width: 640px) {
    .main-header__layout {
      padding: 0 .9rem 0 .5rem; } }
  @media screen and (min-width: 1024px) {
    .main-header__layout {
      padding: 0 1.5rem 0 .7rem; } }
  @media screen and (min-width: 1280px) {
    .main-header__layout {
      padding: 0 1.5rem 0 1rem; } }
  @media screen and (min-width: 1500px) {
    .main-header__layout {
      padding: 0; } }

.main-banner-layout {
  padding: 2.5rem .5rem 2rem; }

.social-bar-layout,
.main-footer-layout {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width); }

/* ------------------ HEADER ---------------------- */
.main-header {
  --margin-right-link-logo: .3rem;
  /*--------------------------------------------*/ }
  @media screen and (min-width: 1024px) {
    .main-header {
      --margin-right-link-logo: 0;
      --padding-title-link: .1rem .2rem;
      --padding-link-logo: .2rem .1rem .2rem 0;
      /*-------------------------------------------*/ } }

.main-header {
  height: var(--height-header);
  background-color: var(--background-color-header); }
  .main-header__container {
    display: flex;
    align-items: center; }
  .main-header__link-logo {
    padding: var(--padding-link-logo);
    margin-right: var(--margin-right-link-logo); }
  .main-header__link-logo, .main-header__title-link {
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
  .main-header__link-logo:focus, .main-header__title-link:focus {
    border-color: var(--border-color-link-focus); }
  .main-header__logo {
    width: var(--width-logo); }
  .main-header__title {
    margin-bottom: 0;
    margin-right: auto;
    line-height: var(--line-height-site-title);
    font-size: var(--font-size-site-title);
    font-family: var(--font-family-site-title);
    font-weight: var(--font-weight-site-title); }
  .main-header__title-link {
    padding: var(--padding-title-link);
    color: var(--color-site-title); }

/*---------------- BURGUER BUTTON ------------------*/
.burguer-button {
  --display-button: visibility; }
  @media screen and (min-width: 1024px) {
    .burguer-button {
      --display-button: none; } }

.burguer-button {
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: var(--cursor-button);
  display: var(--display-button); }
  .burguer-button__line, .burguer-button__line::before, .burguer-button__line::after {
    width: 100%;
    height: .25rem;
    position: absolute;
    border-radius: 1.25rem;
    background-color: var(--color-togle-button); }
  .burguer-button__line {
    top: 50%;
    transform: translateY(-50%); }
  .burguer-button__line::before, .burguer-button__line::after {
    content: '';
    right: 0; }
  .burguer-button__line::before {
    top: -200%; }
  .burguer-button__line::after {
    top: 200%; }

.cruz {
  transform: rotateZ(45deg);
  top: 43%; }
  .cruz::before {
    transform: rotateZ(90deg); }
  .cruz::before, .cruz::after {
    top: 0; }

/*------------------ MAIN NAV ----------------------*/
.main-nav {
  --width-main-nav: 80vw;
  --position-main-nav: fixed;
  --overflow-y-main-nav: scroll;
  --transition-main-nav: left .6s;
  --flex-direction-main-nav: column;
  --background-color-main-nav: #2a3b47;
  --border-top-menu: .0625rem solid #11191e;
  --border-bottom-menu: .125rem solid #485761;
  --border-top-item: .125rem solid #485761;
  --border-bottom-item: .0625rem solid #11191e;
  --padding-link: .7rem; }
  @media screen and (min-width: 1024px) {
    .main-nav {
      --width-main-nav: auto;
      --position-main-nav: static;
      --overflow-y-main-nav: auto;
      --transition-main-nav: none;
      --flex-direction-main-nav: row;
      --align-items-main-nav: center;
      --background-color-main-nav: transparent;
      --display-menu: flex;
      --border-top-menu: none;
      --border-bottom-menu: none;
      --border-top-item: none;
      --border-bottom-item: none;
      --margin-right-item: .625rem;
      --margin-right-item-last-child: 2.5rem;
      --padding-link: .1rem .5rem; } }

.help-bar {
  --order-help-bar: -1;
  --padding-help-bar: 1.2rem 1rem;
  --justify-content-help-bar: flex-end;
  --margin-right-help-bar-button: .8rem; }
  @media screen and (min-width: 1024px) {
    .help-bar {
      --padding-help-bar: 0;
      --order-help-bar: unset;
      --justify-content-help-bar: unset;
      --padding-help-bar-button: .2rem;
      --margin-right-help-bar-button: .6rem; } }

.social-bar {
  --margin-top-social-bar: auto;
  --padding-wrapper: 1rem 0 1.2rem;
  --font-size-icons: 1.6rem; }
  @media screen and (min-width: 540px) {
    .social-bar {
      --padding-wrapper: 1rem 1rem 1.2rem;
      --font-size-icons: 1.8rem; } }
  @media screen and (min-width: 960px) {
    .social-bar {
      --padding-wrapper: 1rem 5rem 1.2rem; } }
  @media screen and (min-width: 1024px) {
    .social-bar {
      --margin-top-social-bar: 0;
      --background-color-social-bar:  #5396f0;
      --padding-wrapper: 2rem 10rem;
      --color-title: #fff;
      --font-size-title: 2.625rem;
      --margin-bottom-title: 2rem;
      --display-social-bar-a: flex;
      --width-social-bar-a: 3.125rem;
      --height-social-bar-a: 3.125rem;
      --align-items-social-bar-a: center;
      --justify-content-social-bar-a: center; } }
  @media screen and (min-width: 1280px) {
    .social-bar {
      --padding-wrapper: 2rem 15rem; } }
  @media screen and (min-width: 1440px) {
    .social-bar {
      --padding-wrapper: 2rem 20rem; } }

.main-nav {
  left: -80vw;
  display: flex;
  top: var(--height-header);
  width: var(--width-main-nav);
  position: var(--position-main-nav);
  overflow-y: var(--overflow-y-main-nav);
  transition: var(--transition-main-nav);
  align-items: var(--align-items-main-nav);
  flex-direction: var(--flex-direction-main-nav);
  background-color: var(--background-color-main-nav); }
  .main-nav__move {
    left: 0; }
  .main-nav__menu {
    display: var(--display-menu);
    border-top: var(--border-top-menu);
    border-bottom: var(--border-bottom-menu); }
  .main-nav__item {
    border-top: var(--border-top-item);
    margin-right: var(--margin-right-item);
    border-bottom: var(--border-bottom-item); }
  .main-nav__item:last-child {
    margin-right: var(--margin-right-item-last-child); }
  .main-nav__item:hover {
    border-top: none;
    border-bottom: none; }
  .main-nav__link {
    display: block;
    padding: var(--padding-link); }
  .main-nav__link {
    color: var(--color-menu);
    line-height: var(--line-height-menu);
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-menu);
    font-family: var(--font-family-menu); }
  .main-nav__link {
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
  .main-nav__link:hover {
    color: var(--color-menu-hover); }
  .main-nav__link:focus {
    border-color: var(--border-color-link-focus); }

.help-bar {
  display: flex;
  order: var(--order-help-bar);
  padding: var(--padding-help-bar);
  justify-content: var(--justify-content-help-bar); }
  .help-bar__button {
    border: var(--border-link);
    padding: var(--padding-help-bar-button);
    border-radius: var(--border-radius-link); }
  .help-bar__button:focus {
    border-color: var(--border-color-link-focus); }
  .help-bar__button:first-child {
    margin-right: var(--margin-right-help-bar-button); }
  .help-bar__icon {
    width: 2.8rem; }

.social-bar {
  margin-top: var(--margin-top-social-bar);
  background-color: var(--background-color-social-bar); }
  .social-bar__wrapper {
    padding: var(--padding-wrapper); }
  .social-bar__title {
    color: var(--color-title);
    font-size: var(--font-size-title);
    margin-bottom: var(--margin-bottom-title); }
  .social-bar__icons {
    display: flex;
    justify-content: space-around;
    font-size: var(--font-size-icons); }
  .social-bar a {
    color: #fff;
    border: var(--border-link);
    width: var(--width-social-bar-a);
    height: var(--height-social-bar-a);
    display: var(--display-social-bar-a);
    border-radius: var(--border-radius-link);
    align-items: var(--align-items-social-bar-a);
    justify-content: var(--justify-content-social-bar-a); }
  .social-bar a:focus {
    border-color: var(--border-color-link-focus-alt); }

.main-banner {
  position: relative;
  background-color: #2e5dd8;
  font-family: 'Roboto', sans-serif; }
  .main-banner__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
    object-position: center; }
  .main-banner__content {
    display: flex;
    color: #fff;
    position: relative;
    align-items: center;
    flex-direction: column; }
  .main-banner__title {
    font-size: 3.3rem;
    line-height: 107%;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Amaranth', sans-serif; }
  .main-banner__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 12px; }
  .main-banner__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-banner__icon {
    width: 50px;
    margin-bottom: 5px; }
  .main-banner__icon-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400; }

.main {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center; }

.main-footer {
  text-align: center;
  font-family: var(--font-family-footer); }
  .main-footer__development {
    color: #fff;
    font-size: 1rem;
    background-color: #2e5dd8; }
  .main-footer__wrapper {
    padding: 1rem 0; }
    .main-footer__wrapper p {
      margin-bottom: .8rem;
      line-height: 130%; }
  .main-footer__wrapper :nth-child(3) {
    margin-bottom: 2rem; }
  .main-footer__country {
    display: flex;
    width: 12.5rem;
    color: #4b4b4b;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #c2c2c2;
    border: .0625rem solid #eee; }
    .main-footer__country img {
      width: 4.375rem;
      height: 1.875rem;
      margin-right: 1.5rem;
      border-right: .0625rem solid #eee; }
