:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --z-modal-alt: 10000; }

:root {
  --min-width: 320px;
  --max-width: 1430px; }

:root {
  --font-size-body: 20px; }

:root {
  --color-dark-gray: #646464;
  --color-light-gray: #c2c2c2;
  --color-more-dark-gray: #333333;
  --color-pearl-light-gray: #9c9c9c;
  --color-two: #094293;
  --color-houm: #ff452b;
  --color-error: #cc0000;
  --color-text: #495057;
  --color-gvs-blue: #80bdff;
  --color-depsky-blue: #00bfff;
  --color-dodger-blue: #1E90FF;
  --color-pass: #5aaa9a; }

:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Lato', sans-serif;
  --font-family-tertiary: 'Ubuntu', sans-serif; }

:root {
  --font-weight-body: 400;
  --color-body: rgb(30, 63, 63);
  --font-family-body: 'Bitter', serif;
  --background-color-body: #f5f8ff;
  --font-family-body-alt:'Roboto', sans-serif; }

:root {
  --width-logo: 2.8rem;
  --height-header: 3.8rem;
  --background-color-header: #fff;
  --color-site-title: #6a7477;
  --font-weight-site-title: 400;
  --line-height-site-title: 100%;
  --font-size-site-title: 1.875rem;
  --font-family-site-title: 'Amaranth', sans-serif; }
  @media screen and (min-width: 412px) {
    :root {
      --font-size-site-title: 2.0625rem; } }

:root {
  --color-menu: #fff;
  --color-menu-alt: #aab0b5;
  --font-weight-menu: 300;
  --line-height-menu: 140%;
  --font-size-menu: 1.375rem;
  --color-menu-hover: #fff;
  --font-family-menu: 'Roboto', sans-serif; }
  @media screen and (min-width: 1024px) {
    :root {
      --color-menu: #6a7477;
      --color-menu-alt:#6a7477;
      --line-height-menu: 145%;
      --font-weight-menu: 400;
      --font-size-menu: 1.125rem;
      --color-menu-hover: #0098b8; } }

:root {
  --color-togle-button: #6a7477;
  --color-togle-button-alt: #094293; }

:root {
  --background-color-banner: #2e5dd8; }

:root {
  --font-family-footer: 'Lato', sans-serif; }

:root {
  --cursor-button: default; }
  @media screen and (min-width: 1024px) {
    :root {
      --cursor-button: pointer; } }

@media screen and (min-width: 1024px) {
  :root {
    --border-color-link-focus: #0098b8;
    --border-color-link-focus-alt: #62e884;
    --border-color-link-focus-other: #3399ff;
    --border-radius-link: .3125rem;
    --border-link: .125rem solid transparent; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  color: var(--color-body);
  line-height: var(--line-height-body);
  background-color: var(--background-color-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  font-family: var(--font-family-body); }

img {
  width: 100%;
  display: block;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-dark-gray);
  font-family: var(--font-family-primary); }

h1,
h2 {
  font-weight: 700; }

p {
  margin-top: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

a,
i,
button {
  outline: none;
  cursor: var(--cursor-button); }

button {
  padding: 0;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit; }
  button:focus {
    outline: none; }
  button::-moz-focus-inner {
    border: 0; }

small {
  font-family: var(--font-family-secondary); }

ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

label {
  font-size: 17px;
  color: var(--color-more-dark-gray); }

label,
input,
textarea {
  font-family: var(--font-family-secondary); }

input,
textarea {
  font-size: 16px;
  color: var(--color-text); }
  input:focus,
  textarea:focus {
    outline: none; }

.caption {
  font-weight: 500;
  color: var(--color-dark-gray);
  font-family: var(--font-family-primary); }

.icon {
  position: relative; }
  .icon::before {
    font-weight: 900;
    font-style: normal;
    position: absolute;
    font-variant: normal;
    text-rendering: auto;
    display: inline-block;
    color: var(--color-dark-gray);
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased; }

.line-break412::before,
.line-break960::before,
.line-break1200::before {
  display: block;
  content: ""; }

@media screen and (min-width: 412px) {
  .line-break412::before {
    display: inline; } }

@media screen and (min-width: 960px) {
  .line-break960::before {
    display: inline; } }

@media screen and (min-width: 1200px) {
  .line-break1200::before {
    display: inline; } }

.main-header-layout {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: var(--min-width);
  max-width: var(--max-width); }

.main-header-layout {
  padding: 0 .5rem 0 .3rem; }
  @media screen and (min-width: 412px) {
    .main-header-layout {
      padding: 0 .7rem 0 .5rem; } }
  @media screen and (min-width: 640px) {
    .main-header-layout {
      padding: 0 .9rem 0 .5rem; } }
  @media screen and (min-width: 1024px) {
    .main-header-layout {
      padding: 0 1.5rem 0 .7rem; } }
  @media screen and (min-width: 1280px) {
    .main-header-layout {
      padding: 0 1.5rem 0 1rem; } }
  @media screen and (min-width: 1500px) {
    .main-header-layout {
      padding: 0; } }

.banner-layout {
  padding: 2.5rem .5rem 3rem;
  margin-top: var(--height-header);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%); }
  @media screen and (min-width: 640px) {
    .banner-layout {
      padding: 5rem 1.5rem 3rem; } }
  @media screen and (min-width: 840px) {
    .banner-layout {
      padding: 8rem 1.5rem 3rem; } }
  @media screen and (min-width: 960px) {
    .banner-layout {
      padding: 10rem 1.5rem 4rem; } }
  @media screen and (min-width: 1024px) {
    .banner-layout {
      padding: 14rem 1.5rem 4rem; } }
  @media screen and (min-width: 960px) {
    .banner-layout {
      --polygon-banner: 0 0, 100% 0, 100% 100%, 0 94%; } }
  @media screen and (min-width: 2100px) {
    .banner-layout {
      padding: 16rem 1.5rem 5rem; } }

.social-bar-layout,
.main-footer-layout {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width); }

.btn-whatsapp {
  width: 60px;
  height: 60px;
  right: 10px;
  bottom: 70px;
  display: flex;
  font-size: 60px;
  position: fixed;
  border-radius: 5px;
  align-items: center;
  z-index: var(--z-fixed);
  justify-content: center;
  background-color: transparent;
  color: var(--color-button-green);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }
  .btn-whatsapp:hover {
    background-color: #fff;
    color: var(--color-button-green-alt); }

.button {
  --color-hover: #00ff00;
  --color-button-dark: unset;
  --color-button-light: #00ff00;
  --color-button-darker: #00aa00; }
  @media screen and (min-width: 1024px) {
    .button {
      --color-hover: #fff;
      --color-button-dark: #00c600; } }

.button-solid {
  --color-hover: #0066ff;
  --color-button-light:#0066ff;
  --color-button-darker: #0000ff; }
  @media screen and (min-width: 1024px) {
    .button-solid {
      --color-hover: #0033ff; } }

.button,
.button-solid {
  --font-size-button: 1.2em; }
  @media screen and (min-width: 360px) {
    .button,
    .button-solid {
      --font-size-button: 1.3em; } }
  @media screen and (min-width: 412px) {
    .button,
    .button-solid {
      --font-size-button: 1.35em; } }
  @media screen and (min-width: 2100px) {
    .button,
    .button-solid {
      --font-size-button: 1.5em; } }

.button,
.button-solid {
  font-weight: 600;
  border-radius: 2em;
  border: .125em solid;
  text-transform: uppercase;
  font-size: var(--font-size-button);
  font-family: var(--font-family-primary); }

.button {
  color: var(--color-button-light); }
  .button:hover {
    color: var(--color-hover);
    border-color: var(--color-button-dark);
    background-color: var(--color-button-dark); }
  .button:active {
    border-color: var(--color-button-darker);
    background-color: var(--color-button-darker); }

.button-solid {
  color: #fff;
  border-color: var(--color-button-light);
  background-color: var(--color-button-light); }
  .button-solid:hover {
    border-color: var(--color-hover);
    background-color: var(--color-hover); }
  .button-solid:active {
    border-color: var(--color-button-darker);
    background-color: var(--color-button-darker); }

.button:active,
.button-solid:active {
  top: 1px;
  left: 1px;
  color: #fff;
  position: relative; }

.contacto {
  padding: .4em 3.2em; }

.enviar {
  padding: .4em 5.2em; }

/* ------------------ HEADER ---------------------- */
.main-header {
  --margin-right-link-logo: .3rem;
  /*--------------------------------------------*/ }
  @media screen and (min-width: 1024px) {
    .main-header {
      --margin-right-link-logo: 0;
      --padding-title-link: .1rem .2rem;
      --padding-link-logo: .2rem .1rem .2rem 0;
      /*-------------------------------------------*/ } }

.main-header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: var(--z-fixed);
  height: var(--height-header);
  background-color: var(--background-color-header);
  line-height: normal; }
  .main-header__container {
    display: flex;
    align-items: center; }
  .main-header__link-logo {
    padding: var(--padding-link-logo);
    margin-right: var(--margin-right-link-logo); }
  .main-header__link-logo, .main-header__title-link {
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
  .main-header__link-logo:focus, .main-header__title-link:focus {
    border-color: var(--border-color-link-focus); }
  .main-header__logo {
    width: var(--width-logo); }
  .main-header__title {
    margin-bottom: 0;
    margin-right: auto;
    line-height: var(--line-height-site-title);
    font-size: var(--font-size-site-title);
    font-family: var(--font-family-site-title);
    font-weight: var(--font-weight-site-title); }
  .main-header__title-link {
    padding: var(--padding-title-link);
    color: var(--color-site-title); }

/*---------------- BURGUER BUTTON ------------------*/
.burguer-button {
  --display-button: visibility; }
  @media screen and (min-width: 1024px) {
    .burguer-button {
      --display-button: none; } }

.burguer-button {
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: var(--cursor-button);
  display: var(--display-button); }
  .burguer-button__line, .burguer-button__line::before, .burguer-button__line::after {
    width: 100%;
    height: .25rem;
    position: absolute;
    border-radius: 1.25rem;
    background-color: var(--color-togle-button); }
  .burguer-button__line {
    top: 50%;
    transform: translateY(-50%); }
  .burguer-button__line::before, .burguer-button__line::after {
    content: '';
    right: 0; }
  .burguer-button__line::before {
    top: -200%; }
  .burguer-button__line::after {
    top: 200%; }

.cruz {
  transform: rotateZ(45deg);
  top: 43%; }
  .cruz::before {
    transform: rotateZ(90deg); }
  .cruz::before, .cruz::after {
    top: 0; }

/*------------------ MAIN NAV ----------------------*/
.main-nav {
  --width-main-nav: 100vw;
  --position-main-nav: fixed;
  --overflow-y-main-nav: scroll;
  --transition-main-nav: left .6s;
  --flex-direction-main-nav: column;
  --background-color-main-nav: #2a3b47;
  --border-top-menu: .0625rem solid #11191e;
  --border-bottom-menu: .125rem solid #485761;
  --border-top-item: .125rem solid #485761;
  --border-bottom-item: .0625rem solid #11191e;
  --padding-link: .7rem; }
  @media screen and (min-width: 1024px) {
    .main-nav {
      --width-main-nav: auto;
      --position-main-nav: static;
      --overflow-y-main-nav: auto;
      --transition-main-nav: none;
      --flex-direction-main-nav: row;
      --align-items-main-nav: center;
      --background-color-main-nav: transparent;
      --display-menu: flex;
      --border-top-menu: none;
      --border-bottom-menu: none;
      --border-top-item: none;
      --border-bottom-item: none;
      --margin-right-item: .625rem;
      --margin-right-item-last-child: 1.5rem;
      --padding-link: .1rem .5rem; } }

.contact-bar {
  --order-contact-bar: -1;
  --padding-contact-bar: 1.5rem 1.5rem;
  --justify-content-contact-bar: flex-end;
  --color-contact-bar-mail: #fff;
  --color-contact-bar-mail-hover: #fff; }
  @media screen and (min-width: 1024px) {
    .contact-bar {
      --padding-contact-bar: 0;
      --order-contact-bar: unset;
      --justify-content-contact-bar: unset;
      --color-contact-bar-mail: #9b9b9b;
      --padding-contact-bar-mail: 0 .3125rem;
      --color-contact-bar-mail-hover: #3399ff; } }

.social-bar {
  --margin-top-social-bar: auto;
  --padding-wrapper: 1rem 0 1.2rem;
  --font-size-icons: 1.6rem; }
  @media screen and (min-width: 540px) {
    .social-bar {
      --padding-wrapper: 1rem 1rem 1.2rem;
      --font-size-icons: 1.8rem; } }
  @media screen and (min-width: 960px) {
    .social-bar {
      --padding-wrapper: 1rem 5rem 1.2rem; } }
  @media screen and (min-width: 1024px) {
    .social-bar {
      --margin-top-social-bar: 0;
      --background-color-social-bar:  #5396f0;
      --padding-wrapper: 2rem 10rem;
      --color-title: #fff;
      --font-size-title: 2.625rem;
      --margin-bottom-title: 2rem;
      --display-social-bar-a: flex;
      --width-social-bar-a: 3.125rem;
      --height-social-bar-a: 3.125rem;
      --align-items-social-bar-a: center;
      --justify-content-social-bar-a: center; } }
  @media screen and (min-width: 1280px) {
    .social-bar {
      --padding-wrapper: 2rem 15rem; } }
  @media screen and (min-width: 1440px) {
    .social-bar {
      --padding-wrapper: 2rem 20rem; } }

.main-nav {
  left: -100vw;
  display: flex;
  top: var(--height-header);
  width: var(--width-main-nav);
  position: var(--position-main-nav);
  overflow-y: var(--overflow-y-main-nav);
  transition: var(--transition-main-nav);
  align-items: var(--align-items-main-nav);
  flex-direction: var(--flex-direction-main-nav);
  background-color: var(--background-color-main-nav); }
  .main-nav__move {
    left: 0; }
  .main-nav__menu {
    display: var(--display-menu);
    border-top: var(--border-top-menu);
    border-bottom: var(--border-bottom-menu); }
  .main-nav__item {
    border-top: var(--border-top-item);
    margin-right: var(--margin-right-item);
    border-bottom: var(--border-bottom-item); }
  .main-nav__item:last-child {
    margin-right: var(--margin-right-item-last-child); }
  .main-nav__item:hover {
    border-top: none;
    border-bottom: none; }
  .main-nav__link {
    display: block;
    padding: var(--padding-link); }
  .main-nav__link {
    color: var(--color-menu);
    line-height: var(--line-height-menu);
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-menu);
    font-family: var(--font-family-menu); }
  .main-nav__link {
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
  .main-nav__link:hover {
    color: var(--color-menu-hover); }
  .main-nav__link:focus {
    border-color: var(--border-color-link-focus); }

.contact-bar {
  display: flex;
  order: var(--order-contact-bar);
  padding: var(--padding-contact-bar);
  justify-content: var(--justify-content-contact-bar); }
  .contact-bar__mail {
    font-size: 40px;
    border: var(--border-link);
    color: var(--color-contact-bar-mail);
    padding: var(--padding-contact-bar-mail);
    border-radius: var(--border-radius-link); }
  .contact-bar__mail:hover {
    color: var(--color-contact-bar-mail-hover); }
  .contact-bar__mail:focus {
    border-color: var(--border-color-link-focus); }

.social-bar {
  margin-top: var(--margin-top-social-bar);
  background-color: var(--background-color-social-bar); }
  .social-bar__wrapper {
    padding: var(--padding-wrapper); }
  .social-bar__title {
    color: var(--color-title);
    font-size: var(--font-size-title);
    margin-bottom: var(--margin-bottom-title); }
  .social-bar__icons {
    display: flex;
    justify-content: space-around;
    font-size: var(--font-size-icons); }
  .social-bar a {
    color: #fff;
    border: var(--border-link);
    width: var(--width-social-bar-a);
    height: var(--height-social-bar-a);
    display: var(--display-social-bar-a);
    border-radius: var(--border-radius-link);
    align-items: var(--align-items-social-bar-a);
    justify-content: var(--justify-content-social-bar-a); }
  .social-bar a:focus {
    border-color: var(--border-color-link-focus-alt); }

.banner {
  --objet-position-hero-image: center;
  --font-weight-title: 400;
  --line-height-title: 120%;
  --margin-bottom-title: 2rem;
  --font-size-title: 2.5625rem;
  --margin-bottom-products: 2rem;
  --margin-right-item: .40625rem;
  --width-icon: 3.8rem;
  --margin-bottom-icon: .625rem;
  --font-size-icon-text: .875rem; }
  @media screen and (min-width: 360px) {
    .banner {
      --margin-right-item: .8rem;
      --width-icon: 3.8rem;
      --font-size-icon-text: .9rem; } }
  @media screen and (min-width: 412px) {
    .banner {
      --font-size-title: 3.125rem;
      --width-icon: 5rem;
      --margin-bottom-icon: .75rem;
      --font-size-icon-text: 1.2rem; } }
  @media screen and (min-width: 512px) {
    .banner {
      --font-size-title: 3.5rem;
      --line-height-title: 107%; } }
  @media screen and (min-width: 640px) {
    .banner {
      --font-size-title: 4.125rem;
      --margin-bottom-title: 2.5rem;
      --margin-right-item: 2.5rem;
      --margin-right-item-last-child: 0; } }
  @media screen and (min-width: 840px) {
    .banner {
      --font-size-title: 3.5rem;
      --line-height-title: 71px;
      --width-icon: 4rem; } }
  @media screen and (min-width: 960px) {
    .banner {
      --font-size-title: 3.8rem;
      --margin-right-item: 2.25rem;
      --width-icon: 3.75rem; } }
  @media screen and (min-width: 1024px) {
    .banner {
      --objet-position-hero-image: right; } }
  @media screen and (min-width: 1280px) {
    .banner {
      --objet-position-hero-image:  65% 50%;
      --font-size-title: 4.1rem;
      --margin-right-item: 3.125rem; } }
  @media screen and (min-width: 2100px) {
    .banner {
      --objet-position-hero-image: center;
      --font-size-title: 5.1rem;
      --margin-bottom-title: 4rem;
      --margin-right-item: 4.375rem;
      --width-icon: 4.375rem;
      --font-size-icon-text: 1.0625rem; } }

.banner {
  font-size: 1rem;
  position: relative;
  line-height: normal;
  background-color: var(--background-color-banner); }
  .banner__hero-image {
    top: 0;
    left: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: var(--objet-position-hero-image); }
  .banner__content {
    display: flex;
    color: #fff;
    align-items: center;
    position: relative;
    flex-direction: column; }
  .banner__title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family-h);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-title);
    margin-bottom: var(--margin-bottom-title); }
  .banner__products {
    display: flex;
    margin-bottom: var(--margin-bottom-products); }
  .banner__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: var(--margin-right-item); }
  .banner__item:last-child {
    margin-right: 0; }
  .banner__icon {
    width: var(--width-icon);
    margin-bottom: var(--margin-bottom-icon); }
  .banner__icon-text {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--font-size-icon-text); }

.form {
  --height-form-container-height: 100%;
  --font-size-form-title: 43px;
  --line-height-form-title: 41px;
  --top-form-icon-close-before: 10px;
  --right-form-icon-close-before: 23px;
  --font-size-form-icon-close-before: 2rem;
  --padding-form-fielset: 40px 20px 60px;
  --font-size-form-copyright-small: 16px; }
  @media screen and (min-width: 360px) {
    .form {
      --font-size-form-title: 49px;
      --font-size-form-copyright-small: 18px; } }
  @media screen and (min-width: 412px) {
    .form {
      --font-size-form-title: 52px;
      --line-height-form-title: 52px;
      --top-form-icon-close-before: 5px;
      --font-size-form-icon-close-before: 2.5rem; } }
  @media screen and (min-width: 1024px) {
    .form {
      --height-form-container-height: auto;
      --padding-form-fielset: 40px 20px 50px; } }

.form {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 16px;
  visibility: hidden;
  line-height: normal;
  z-index: var(--z-modal);
  background-color: rgba(0, 0, 0, 0.9); }
  .form__container {
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow-y: scroll;
    background-color: #fff;
    transition: transform 1s;
    transform: translateY(-200%); }
  .form__container-height {
    display: flex;
    flex-direction: column;
    height: var(--height-form-container-height); }
  .form__title {
    font-size: var(--font-size-form-title);
    line-height: var(--line-height-form-title); }
  .form__subtitle {
    font-size: 23px; }
  .form__title, .form__subtitle {
    text-align: center; }
  .form__icon-close {
    width: 100%;
    max-width: 465px;
    margin-left: auto;
    margin-right: auto; }
    .form__icon-close::before {
      content: "\f00d";
      top: var(--top-form-icon-close-before);
      right: var(--right-form-icon-close-before);
      font-size: var(--font-size-form-icon-close-before); }
  .form__fielset {
    margin: 0;
    border: none;
    padding: var(--padding-form-fielset); }
  .form__box {
    margin-bottom: 16px; }
  .form__box:last-child {
    display: flex;
    margin-bottom: 0;
    align-items: center; }
  .form__label, .form__label-checkbox, .form__icon-close::before {
    cursor: var(--cursor-button); }
  .form__label {
    margin-bottom: 8px;
    position: relative;
    display: inline-block; }
    .form__label::before {
      content: "*";
      right: -10px;
      font-size: 20px;
      position: absolute;
      color: var(--color-error); }
  .form__error-message {
    font-size: 17px;
    line-height: 18px;
    color: var(--color-error);
    font-family: var(--font-family-tertiary); }
  .form__wrapper-input {
    position: relative; }
  .form__wrapper-input i {
    top: 10px;
    left: 7px;
    font-size: 20px;
    position: absolute;
    color: var(--color-dark-gray); }
  .form__wrapper-input-email i,
  .form__wrapper-input-checkmail i {
    top: 12px; }
  .form__input {
    height: 40px;
    padding: 10px 6px 10px 34px; }
  .form__textarea {
    resize: none;
    min-height: 90px;
    padding: 9px 6px 10px 30px; }
  .form__input, .form__textarea {
    width: 100%;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #cbd6e2;
    transition: .2s ease all;
    background-color: #f5f8fa; }
    .form__input:focus, .form__textarea:focus {
      border-color: var(--color-depsky-blue);
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
    @media screen and (min-width: 1024px) {
      .form__input:focus, .form__textarea:focus {
        border-color: var(--color-gvs-blue); } }
  .form__input-checkmail {
    padding-left: 38px; }
  .form__input-terminos {
    left: 7px;
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 14px; }
  .form__wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 20px;
    flex-direction: column; }
  .form__button {
    margin-bottom: 30px; }
    .form__button:disabled {
      color: lightgrey;
      border-color: transparent;
      background-color: #eeeeee; }
  .form__copyright small {
    color: var(--color-more-dark-gray);
    font-size: var(--font-size-form-copyright-small); }
  .form__modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    z-index: var(--z-modal-alt);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center; }
  .form__modal-content {
    width: 280px;
    height: 10vh;
    position: relative;
    transition: transform 1s;
    transform: translateY(-100vh); }
    @media screen and (min-width: 412px) {
      .form__modal-content {
        width: 320px; } }
    .form__modal-content i {
      left: 50%;
      top: -100px;
      color: #fff;
      font-size: 60px;
      position: absolute;
      cursor: var(--cursor-button);
      transform: translateX(-25px); }
  .form__modal-confirmation {
    padding: 10px 0;
    font-size: 34px;
    font-weight: 600;
    line-height: 10vh;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    color: var(--color-dark-gray);
    font-family: var(--font-family-primary); }
  .form--show {
    transform: translateY(0); }
  .form--modal-open {
    transform: translateY(0); }

.main-footer {
  text-align: center;
  line-height: normal; }
  .main-footer__development {
    color: #fff;
    font-size: 1rem;
    background-color: #2e5dd8; }
  .main-footer__wrapper {
    padding: 1rem 0; }
    .main-footer__wrapper p {
      margin-bottom: .8rem;
      line-height: 130%; }
  .main-footer__wrapper :nth-child(3) {
    margin-bottom: 2rem; }
  .main-footer__info {
    font-size: 16px; }
  .main-footer__country {
    display: flex;
    width: 12.5rem;
    color: #4b4b4b;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #c2c2c2;
    border: .0625rem solid #eee; }
    .main-footer__country img {
      width: 4.375rem;
      height: 1.875rem;
      margin-right: 1.5rem;
      border-right: .0625rem solid #eee; }
