
// Breakpoints
$breakpoints: (
    medium: 540px,
    xmedium: 640px,
    xxmedium: 960px,
    large: 1024px,
    llarge: 1160px,
    xlarge: 1280px,
    xxlarge: 1440px,
    zlarge: 1600px,
    zzlarge: 1920px,
    ultrawide: 2100px
);
