
// Variables de apilamiento - "z-index"
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
$z-modal-alt: 10000;


// Variables ancho página "Width"
$min-width: 320px;
$max-width: 1430px;


// Paleta de Colores
$color-dark-gray: #646464;
$color-light-gray: #c2c2c2;
$color-more-dark-gray: #333333;
$color-pearl-light-gray: #9c9c9c;


$color-text: #495057;
$color-cobalt: #094293;
$color-orangey-red: #ff452b;


$color-sky-blue: #80bdff;
$color-dodger-blue: #1E90FF;
$color-bright-sky-blue: #00bfff;

$color-pass: #5aaa9a;
$color-error: #cc0000;

$color-body: rgb(30, 63, 63);
$background-color-body: #f5f8ff;

$background-color-header: #fff;
$color-site-title: #6a7477;

$background-color-banner: #2e5dd8;

$color-toggle-button: #040505;
$color-toggle-button-alt: #094293;



// Fonts
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Lato', sans-serif;
$font-family-tertiary: 'Ubuntu', sans-serif;

$font-family-body: 'Bitter', serif;
$font-family-body-alt:'Roboto', sans-serif;

// font header
$font-family-site-title: 'Amaranth', sans-serif;

$font-family-menu: 'Roboto', sans-serif;

$font-family-footer: 'Lato', sans-serif;
