
// Variables de apilamiento - "z-index"
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
$z-modal-alt: 10000;


// Variables ancho página "Width"
$min-width: 320px;
$max-width: 1430px;


// Paleta de Colores
