@use '../tools-sass/mixins' as *;
@use '../tools-sass/variables-sass' as *;

.banner {
    // hero-image
    --objet-position-hero-image: center;
    // title
    --font-weight-title: 400;
    --line-height-title: 120%;
    --margin-bottom-title: 2rem;
    --font-size-title: 2.5625rem;
    // products
    --margin-bottom-products: 2rem;
    // item
    --margin-right-item: .40625rem;
    // icon
    --width-icon: 3.8rem;
    --margin-bottom-icon: .625rem;
    // icon-text
    --font-size-icon-text: .875rem;

    @include from(360px) {
        // item
        --margin-right-item: .8rem;
        // icon-text
        --font-size-icon-text: .9rem;
    }


    @include from(412px) {
        // title
        --font-size-title: 3.125rem;
        // products
        --margin-bottom-products: 2.5rem;
        // icon
        --margin-bottom-icon: .85rem;
        // icon-text
        --font-size-icon-text: 1rem;
    }


    // Wide 512px
    @include from(512px) {
        // title
        --font-size-title: 3.5rem;
        --line-height-title: 107%;
        // item
        --margin-right-item: .9rem;
        // icon
        --width-icon: 4rem;
        --margin-bottom-icon: .95rem;
        // icon-text
        --font-size-icon-text: 1.1rem;
    }


    // Wide 640px
    @include from(xmedium) {
        // title
        --font-size-title: 4.125rem;
        --margin-bottom-title: 2.5rem;
        // products
        --margin-bottom-products: 3rem;
        // item
        --margin-right-item: 1.6rem;
        // icon
        --margin-bottom-icon: 1.1rem;
    }


    // Wide 840px
    @include from(840px) {
        // title
        --font-size-title: 3.5rem;
        --line-height-title: 71px; // TODO: Revisar esta declaración.
        // item
        --margin-right-item: 2.5rem;
    }


    // Wide 960px
    @include from(xxmedium) {
        // title
        --font-size-title: 3.8rem;
        // item
        --margin-right-item: 3rem;
    }


    // Wide 1024px
    @include from(large) {
        // hero-image
        --objet-position-hero-image: right;
    }


    // Wide 1280px
    @include from(xlarge) {
        // hero-image
        --objet-position-hero-image:  65% 50%;
        // title
        --font-size-title: 4.1rem;
    }


    // Wide 1920px
    @include from(zzlarge) {
        // hero-image
        --objet-position-hero-image: center;
        // title
        --margin-bottom-title: 4rem;
        // products
        --margin-bottom-products: 4rem;
        // item
        --margin-right-item: 4rem;
        // icon
        --width-icon: 4.375rem;
    }


    // Wide 2100px
    @include from(maximum) {
        // title
        --font-size-title: 4.5rem;
        // icon
        --width-icon: 4.6rem;
        // icon-text
        --font-size-icon-text: 1.2rem;
    }
}

.banner {
    position: relative;
    // line-height: normal;
    background-color: $background-color-banner;

    &__hero-image {
        top: 0;
        left: 0;
        opacity: .4;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: var(--objet-position-hero-image);
    }

    &__content {
        font-size: 1rem;
        display: flex;
        color: #fff;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    // TODO: Revisar todas las propiedades de este selector,
    // TODO: .... incluyendo la variable "font-family-h"
    &__title {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-family-h);
        font-size: var(--font-size-title);
        line-height: var(--line-height-title);
        font-weight: var(--font-weight-title);
        margin-bottom: var(--margin-bottom-title);
    }

    &__products {
        display: flex;
        margin-bottom: var(--margin-bottom-products);
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: var(--margin-right-item);
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__icon {
        width: var(--width-icon);
        margin-bottom: var(--margin-bottom-icon);
    }

    &__icon-text {
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        font-size: var(--font-size-icon-text);
    }
}
