.banner {
    // hero-image
    --objet-position-hero-image: center;
    // title
    --font-weight-title: 400;
    --line-height-title: 120%;
    --margin-bottom-title: 2rem;
    --font-size-title: 2.5625rem;
    // products
    --display-products: grid;
    --margin-bottom-products: 2rem;
    --grid-row-gap-products: .75rem;
    --grid-column-gap-products: .625rem;
    // icon
    --width-icon: 3.125rem;
    --margin-bottom-icon: .625rem;
    // icon-text
    --font-size-icon-text: .875rem;


    @include from(412px) {
        // title
        --font-size-title: 3.125rem;
        // products
        --margin-bottom-products: 2.5rem;
        --grid-row-gap-products: .875rem;
        --grid-column-gap-products: 1.125rem;
        // icon
        --width-icon: 3.75rem;
        --margin-bottom-icon: .75rem;
        // icon-text
        --font-size-icon-text: 1rem;
    }


    // Wide 512px
    @include from(512px) {
        // title
        --font-size-title: 3.5rem;
        --line-height-title: 107%;
        // products
        --grid-row-gap-products: 1.25rem;
        --margin-bottom-products: 2.8rem;
        --grid-column-gap-products: 2.25rem;
    }


    // Wide 640px
    @include from(medium) {
        // title
        --font-size-title: 4.125rem;
        --margin-bottom-title: 2.5rem;
        // products
        --grid-column-gap-products: 2.8125rem;
    }


    // Wide 840px
    @include from(840px) {
        // title
        --font-size-title: 3.5rem;
        --line-height-title: 71px;
        // products
        --display-products: flex;
        --grid-row-gap-products: normal;
        --grid-column-gap-products: normal;
        // item
        --margin-right-item: 1.875rem;
        // item-last-child
        --margin-right-item-last-child: 0;
        // icon
        --width-icon: 3.125rem;
    }


    // Wide 960px
    @include from(xxmedium) {
        // title
        --font-size-title: 3.8rem;
        // item
        --margin-right-item: 2.25rem;
        // icon
        --width-icon: 3.75rem;
    }


    // Wide 1024px
    @include from(large) {
        // hero-image
        --objet-position-hero-image: right;
        // products
        --margin-bottom-products: 3.5rem;
    }


    // Wide 1280px
    @include from(xlarge) {
        // hero-image
        --objet-position-hero-image:  65% 50%;
        // title
        --font-size-title: 4.1rem;
        // item
        --margin-right-item: 3.125rem;
    }

    // TODO: Pendiente por revisar
    // Wide 1440px
    @include from(xxlarge) {
        // title
        // --font-size-title: 4.5rem;
        // icon-text
        // --font-size-icon-text: .875rem;
    }


    // Wide 2100px
    @include from(maximum) {
        // hero-image
        --objet-position-hero-image: center;
        // title
        --font-size-title: 5.1rem;
        --margin-bottom-title: 4rem;
        // item
        --margin-right-item: 4.375rem;
        // icon
        --width-icon: 4.375rem;
        // icon-text
        --font-size-icon-text: 1.0625rem;
    }
}

.banner {
    // TODO: font-size de 1rem , es la referencia para --font-size-button
    // TODO: ...en _button.scss
    font-size: 1rem;
    position: relative;
    line-height: normal;
    background-color: var(--background-color-banner);

    &__hero-image {
        top: 0;
        left: 0;
        opacity: .4;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: var(--objet-position-hero-image);
    }

    &__content {
        display: flex;
        color: #fff;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    // TODO: Revisar todas las propiedades de este selector,
    // TODO: .... incluyendo la variable "font-family-h"
    &__title {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-family-h);
        font-size: var(--font-size-title);
        line-height: var(--line-height-title);
        font-weight: var(--font-weight-title);
        margin-bottom: var(--margin-bottom-title);
    }

    &__products {
        display: var(--display-products);
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: var(--grid-row-gap-products);
        margin-bottom: var(--margin-bottom-products);
        grid-column-gap: var(--grid-column-gap-products);
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: var(--margin-right-item);
    }

    &__item:last-child {
        margin-right: var(--margin-right-item-last-child);
    }

    &__icon {
        width: var(--width-icon);
        margin-bottom: var(--margin-bottom-icon);
    }

    &__icon-text {
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        font-size: var(--font-size-icon-text);
    }
}
