.main-banner {
    position: relative;
    // background-color: #626262;
    background-color: #2e5dd8;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    &__hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .4;
        object-position: center;
    }

    &__content {
        display: flex;
        color: #fff;
        position: relative;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: 3.3rem;
        line-height: 107%;
        margin-bottom: 2rem;
        text-align: center;

        font-family: 'Amaranth', sans-serif;

        @include from(412px) {
            font-size: 3.9rem;
        }

        @include from(medium) {
            margin-bottom: 2.5rem;
        }
    }

    // &__subtitle {
    //     font-size: 1.4rem;
    //         line-height: 125%;
    //     margin-bottom: 3rem;
    //     text-align: center;
    // }

    &__products {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 12px;

        margin-bottom: 2rem;

        @include from(412px) {
            margin-bottom: 2.5rem;
            grid-column-gap: 18px;
            grid-row-gap: 14px;
        }

        @include from(512px) {
            grid-column-gap: 36px;
            grid-row-gap: 20px;
            margin-bottom: 2.8rem;
        }
    }

    &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: 1px solid red;
        }

    &__icon {
        width: 50px;
        margin-bottom: 5px;

        @include from(412px) {
            width: 60px;
            margin-bottom: 8px;
        }
    }

    &__icon-text {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;

        @include from(412px) {
            font-size: 16px;
        }
    }
}


