@use '../tools-sass/variables-sass' as *;

.btn-whatsapp {
    width: 60px;
    height: 60px;
    right: 10px;
    bottom: 70px;
    display: flex;
    font-size: 60px;
    position: fixed;
    border-radius: 5px;
    align-items: center;
    z-index: $z-fixed;
    justify-content: center;
    background-color: transparent;
    color: $color-whatsapp;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);

    &:hover {
        background-color: #f5f8ff;
        color: #32cd32;
    }
}
