@use '../tools-sass/mixins' as *;
@use '../tools-sass/variables-sass' as *;


// Font Size
.button {
	--font-size-button: 1.2em;

	@include from(360px) {
		--font-size-button: 1.3em;
	}

	@include from(412px) {
		--font-size-button: 1.35em;
	}

	@include from(ultrawide) {
		--font-size-button: 1.5em;
	}
}

.button {
	color: #fff;
	padding: .3em 0;
	min-width: 250px;
	font-weight: 600;
	border-radius: 2em;
	border: .125em solid;
	text-transform: uppercase;
    font-family: $font-family-primary;
	font-size: var(--font-size-button);

	@include from(ultrawide) {
		min-width: 300px;
	}

	@include from(large) {
		&-green:hover,
		&-blue:hover,
		&-orange-red:hover {
			border-color: unset;
			background-color: unset;
		}
	}


	&-green {
		background-color: #00c600;
		border-color: #00c600;

		@include from(large) {
			&:hover {
				color: #00ff00;
				// border-color: unset;
				// background-color: unset;
			}
		}

		&:active {
			color: #fff;
			background-color: #00aa00;
			border-color: #00aa00;
		}
	}

	&-blue {
		border-color: #0066ff;
		background-color: #0066ff;

		@include from(large) {
			&:hover {
				color: #0033ff;
				// border-color: unset;
				// background-color: unset;
			}
		}

		&:active {
			color: #fff;
			border-color: #0000ff;
			background-color: #0000ff;
		}
	}

	&-orange-red {
		border-color: #ff6227;
		background-color: #ff6227;

		@include from(large) {
			&:hover {
				color: #ff4500;
				// border-color: unset;
				// background-color: unset;
			}
		}

		&:active {
			color: #fff;
			border-color: #eb4000;
			background-color: #eb4000;
		}
	}
}

