.form {
    // --font-size-label: 15px;
    // --font-size-input: 16px;
    --font-size-label-last: 14px;

    @include from(360px) {
        --font-size-label-last: 15px;
    }
}


.form {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    // TODO: Referencia de "font-size" para "button"
    font-size: 16px;
    visibility: hidden;
    overflow-y: scroll;
    padding: 12px 12px 10px;
    z-index: var(--z-modal);
    background-color: rgba(0,0,0,.9);

    max-width: 540px;



    &__container {
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        background-color: #fff;
        transition: transform .5s;
        transform: translateY(-100vh);

        color: var(--color-one);
    }

    &__close {
        font-size: 40px;
        align-self: flex-end;
        padding: 15px 20px 5px;
        color: var(--color-houm);
    }

    &__title {
        font-size: 51px;
        line-height: 48px;
    }

    &__subtitle {
        font-size: 23px;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__fielset {
        margin: 0;
        border: none;
        margin-bottom: 15px;
        padding: 20px 10px 10px;
    }

    &__box {
        margin-bottom: 16px;
    }

    &__box:nth-child(4) {
        margin-bottom: 5px;
    }

    &__box:last-child {
        display: flex;
        margin-bottom: 0;
        align-items: center;
    }

    &__box:last-child label {
        font-size: var(--font-size-label-last);
    }

    &__label {
        display: inline-block;
        text-transform: uppercase;
        font-size: 15px;
    }

    &__input,
    &__textarea {
        width: 100%;
        font-size: 16px;
        padding: 10px 6px;
    }

    &__textarea {
        resize: none;
        min-height: 90px;
    }

    &__input-terminos {
        width: 20px;
        height: 20px;
        margin-right: 5px;

        @include from(360px) {
            margin-right: 8px;
        }
    }

    &__button {
        align-self: center;
        margin-bottom: 18px;
        // width: 90%;
    }

    &__modal {
        // Estilos de la ventana modal
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: var(--z-modal-max);
        position: fixed;
        visibility: hidden;
        background-color: rgba(0,0,0,.8);

        // Centrado de modal__content
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__modal-content {
        width: 90%;
        height: 250px;
        border-radius: 20px;
        background-color: #fff;

        // Centrado del contenido
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        // Animación de modal__content
        transition: transform 1s;
        transform: translateY(-100vh);
    }

    &__modal-confirmation {
        color: #fff;
        padding: 10px 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        background-color: #00a135;

    }

    &__modal-message {
        margin-bottom: 3rem;
    }

    &__modal-close {
        color: white;
        padding: 7px 60px;
        background-color: #0a0a0a;
    }

    &__copyright {
        text-align: center;
        margin-bottom: 5px;
    }

    &__copyright small {
        font-size: 16px;

        @include from(360px) {
            font-size: 18px;
        }
    }

    &--show {
        transform: translateY(0);
    }
}
