.form {
    // form__container
    --padding-top-form-container: 50px;
    // form__container-height
    --height-form-container-height: 100%;
    // form__title
    --font-size-form-title: 43px;
    --line-height-form-title: 41px;
    // form__icon-close::before
    --top-form-icon-close-before: 10px;
    --right-form-icon-close-before: 23px;
    --font-size-form-icon-close-before: 2rem;
    // form__copyright
    --margin-form-copyright: auto 0;
    // form__copyright-small
    --font-size-form-copyright-small: 16px;


    @include from(360px) {
        // form__title
        --font-size-form-title: 49px;
        // form__copyright-small
        --font-size-form-copyright-small: 18px;
    }

    @include from(412px) {
        // form__title
        --font-size-form-title: 52px;
        --line-height-form-title: 52px;
        // form__icon-close::before
        --top-form-icon-close-before: 5px;
        --font-size-form-icon-close-before: 2.5rem;
    }

    @include from(medium) {
        // form__container
        --padding-top-form-container: 30px;
        // form__icon-close::before
        // --top-form-icon-close-before: 5px;
        // --right-form-icon-close-before: 23px;
    }

    @include from(large) {
        // form__container-height
        --height-form-container-height: auto;
        // form__copyright
        --margin-form-copyright: 0;
        // form__copyright-small
    }
}

.form {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    // TODO: Referencia de "font-size" para "button"
    font-size: 16px;
    visibility: hidden;
    line-height: normal;
    z-index: var(--z-modal);
    background-color: rgba(0,0,0,.9);

    &__container {
        width: 100%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        overflow-y: scroll;
        color: var(--color-one);
        background-color: #fff;
        transition: transform .5s;
        transform: translateY(-200%);
    }

    &__container-height {
        display: flex;
        flex-direction: column;
        height: var(--height-form-container-height);
    }

    &__title {
        font-size: var(--font-size-form-title);
        line-height: var(--line-height-form-title);
    }

    &__subtitle {
        font-size: 23px;
        font-weight: 500;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__icon-close {
        width: 100%;
        max-width: 465px;
        margin-left: auto;
        margin-right: auto;

        &::before {
            content: "\f00d";
            color: #646464;
            // color: var(--color-depsky-blue);
            top: var(--top-form-icon-close-before);
            right: var(--right-form-icon-close-before);
            font-size: var(--font-size-form-icon-close-before);
        }
    }

    &__fielset {
        margin: 0;
        border: none;
        padding: 40px 20px 30px;
    }

    &__box {
        margin-bottom: 16px;
    }

    &__box:last-child {
        display: flex;
        margin-bottom: 0;
        align-items: center;
    }

    &__label,
    &__label-checkbox,
    // TODO: Revisar este selector!
    &__icon-close::before {
        cursor: var(--cursor-button);
    }

    &__label {
        position: relative;
        margin-bottom: 10px;
        display: inline-block;

        &::before {
            content: "*";
            right: -10px;
            font-size: 20px;
            position: absolute;
            color: var(--color-error);
        }
    }

    &__label,
    &__label-checkbox {
        color: #33475b;
    }

    &__label-checkbox {
        font-size: 18px;

        @include from(360px) {
            font-size: 19px;
        }
    }

    &__error-message {
        font-size: 17px;
        line-height: 18px;
        color: var(--color-error);
        font-family: 'Ubuntu', sans-serif;
    }

    &__wrapper-input {
        position: relative;
    }

    &__wrapper-input i {
        top: 10px;
        left: 7px;
        font-size: 20px;
        position: absolute;
    }

    &__wrapper-input-email i,
    &__wrapper-input-checkmail i {
        top: 12px;
    }

    &__input {
        height: 40px;
        padding: 10px 6px 10px 38px;
    }

    &__textarea {
        resize: none;
        min-height: 90px;
        padding: 9px 6px 10px 34px;
    }

    &__input,
    &__textarea {
        width: 100%;
        border-width: 1px;
        border-radius: 3px;
        border-style: solid;
        border-color: #cbd6e2;
        transition: .2s ease all;
        background-color: #f5f8fa;

        &:focus {
            border-width: 1px;
            border-color: var(--color-pearl-light-gray);
            // box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
        }
    }

    &__input-checkmail {
        padding-left: 43px;
    }

    &__input-terminos {
        left: 3px;
        width: 20px;
        height: 20px;
        position: relative;
        margin-right: 10px;
    }

    &__wrapper-button {
        text-align: center;
        margin-bottom: 20px;
    }

    &__button {
        background-color: var(--color-houm);

        &:disabled {
            color: lightgrey;
            background-color: #eeeeee;
        }
    }

    &__copyright {
        text-align: center;
        margin: var(--margin-form-copyright);
    }

    &__copyright small {
        margin-bottom: 5px;
        display: inline-block;
        font-size: var(--font-size-form-copyright-small);

        @include from(large) {
            margin-bottom: 0;
        }
    }



    // Ventana Modal para confirmación
    // ... de envío de email de contacto.

    &__modal {
        // Estilos de la ventana modal
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: var(--z-modal-max);
        position: fixed;
        visibility: hidden;
        background-color: rgba(0,0,0,.8);

        // Centrado de modal__content
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__modal-content {
        width: 90%;
        height: 250px;
        border-radius: 20px;
        background-color: #fff;

        // Centrado del contenido
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        // Animación de modal__content
        transition: transform 1s;
        transform: translateY(-100vh);
    }

    &__modal-confirmation {
        color: #fff;
        padding: 10px 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        background-color: #00a135;
    }

    &__modal-message {
        margin-bottom: 3rem;
    }

    &__modal-close {
        color: white;
        padding: 7px 60px;
        background-color: #0a0a0a;
    }


    // Clase "form-show" para JS.

    &--show {
        transform: translateY(0);
    }
}


// Estilos para validación del formulario.

// .correcto .form__input {
//     border-color: #1ed12d;
// }

// .incorrecto .form__input {
//     border-color: var(--color-error);
// }

// .correcto .form__textarea {
//     border-color: #1ed12d;
// }

// .incorrecto .form__textarea {
//     border-color: var(--color-error);
// }

