/* ------------------ HEADER ---------------------- */
.main-header {
    --margin-right-link-logo: .3rem;
    /*--------------------------------------------*/


    // Wide 1024px
    @include from(large) {
        --margin-right-link-logo: 0;
        --padding-title-link: .1rem .2rem;
        --padding-link-logo: .2rem .1rem .2rem 0;
    /*-------------------------------------------*/
    }
}

.main-header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: var(--z-fixed);
    height: var(--height-header);
    background-color: var(--background-color-header);

    line-height: normal;

    &__container {
        display: flex;
        align-items: center;
    }

    &__link-logo {
        padding: var(--padding-link-logo);
        margin-right: var(--margin-right-link-logo);
    }

    &__link-logo,
    &__title-link {
        border: var(--border-link);
        border-radius: var(--border-radius-link);
    }

    &__link-logo:focus,
    &__title-link:focus {
        border-color: var(--border-color-link-focus);
    }

    &__logo {
        width: var(--width-logo);
    }

    &__title {
        margin-bottom: 0;
        margin-right: auto;
        // TODO: Revisar esta declaración.
        line-height: var(--line-height-site-title);

        font: {
            size: var(--font-size-site-title);
            family: var(--font-family-site-title);
            weight: var(--font-weight-site-title);
        }
    }

    &__title-link {
        padding: var(--padding-title-link);
        color: var(--color-site-title);
    }
}