/*------------------ MAIN NAV ----------------------*/
.main-nav {
    // nav
    --width-main-nav: 100vw;
    --position-main-nav: fixed;
    --overflow-y-main-nav: scroll;
    --transition-main-nav: left .6s;
    --flex-direction-main-nav: column;
    --background-color-main-nav: #2a3b47;
    // menu
    --border-top-menu: .0625rem solid #11191e;
    --border-bottom-menu: .125rem solid #485761;
    // item
    --border-top-item: .125rem solid #485761;
    --border-bottom-item: .0625rem solid #11191e;
    // link
    --padding-link: .7rem;


    @include from(large) {
        // nav
        --width-main-nav: auto;
        --position-main-nav: static;
        --overflow-y-main-nav: auto;
        --transition-main-nav: none;
        --flex-direction-main-nav: row;
        --align-items-main-nav: center;
        --background-color-main-nav: transparent;
        // menu
        --display-menu: flex;
        --border-top-menu: none;
        --border-bottom-menu: none;
        // item
        --border-top-item: none;
        --border-bottom-item: none;
        --margin-right-item: .625rem;
        --margin-right-item-last-child: 1.5rem;
        // link
        --padding-link: .1rem .5rem;
    }
}


.help-bar {
    // help-bar
    --order-help-bar: -1;
    --padding-help-bar: 1.5rem 1.5rem;
    --justify-content-help-bar: flex-end;
    // button
    // --margin-right-help-bar-button: .8rem;


    @include from(large) {
        // help-bar
        --padding-help-bar: 0;
        --order-help-bar: unset;
        --justify-content-help-bar: unset;
        // button
        --padding-help-bar-button: .2rem;
        // --margin-right-help-bar-button: .6rem;
    }
}


.social-bar {
    // social-bar
    --margin-top-social-bar: auto;
    // wrapper
    --padding-wrapper: 1rem 0 1.2rem;
    // icons
    --font-size-icons: 1.6rem;


    // Wide 540px
    @include from(medium) {
        // wrapper
        --padding-wrapper: 1rem 1rem 1.2rem;
        // icons
        --font-size-icons: 1.8rem;
    }


    // Wide 960px
    @include from(xxmedium) {
        // wrapper
        --padding-wrapper: 1rem 5rem 1.2rem;
    }


    // Wide 1024px
    @include from(large) {
        // social-bar
        --margin-top-social-bar: 0;
        --background-color-social-bar:  #5396f0;
        // wrapper
        --padding-wrapper: 2rem 10rem;
        // title
        --color-title: #fff;
        --font-size-title: 2.625rem;
        --margin-bottom-title: 2rem;
        // wrapper a
        --display-social-bar-a: flex;
        --width-social-bar-a: 3.125rem;
        --height-social-bar-a: 3.125rem;
        --align-items-social-bar-a: center;
        --justify-content-social-bar-a: center;
    }


    // Wide 1280px
    @include from(xlarge) {
        // Wrapper
        --padding-wrapper: 2rem 15rem;
    }


    // Wide 1440px
    @include from(xxlarge) {
        // Wrapper
        --padding-wrapper: 2rem 20rem;
    }
}


.main-nav {
    left: -100vw;
    display: flex;
    top: var(--height-header);
    width: var(--width-main-nav);
    position: var(--position-main-nav);
    overflow-y: var(--overflow-y-main-nav);
    transition: var(--transition-main-nav);
    align-items: var(--align-items-main-nav);
    flex-direction: var(--flex-direction-main-nav);
    background-color: var(--background-color-main-nav);


    &__move {
        left: 0;
    }

    &__menu {
        display: var(--display-menu);
        border-top: var(--border-top-menu);
        border-bottom: var(--border-bottom-menu);
    }

    &__item {
        border-top: var(--border-top-item);
        margin-right: var(--margin-right-item);
        border-bottom: var(--border-bottom-item);
    }

    &__item:last-child {
        margin-right: var(--margin-right-item-last-child);
    }

    &__item:hover {
        border-top: none;
        border-bottom: none;
    }

    &__link {
        display: block;
        padding: var(--padding-link);
    }

    // Variables globales
    &__link {
        color: var(--color-menu);
        line-height: var(--line-height-menu);

        font: {
            size: var(--font-size-menu);
            weight: var(--font-weight-menu);
            family: var(--font-family-menu);
        }
    }

    // Variables globales.
    &__link {
        border: var(--border-link);
        border-radius: var(--border-radius-link);
    }

    // &__link:visited {
    //     color: var(--color-link-visited);
    // }

    // Variable global.
    &__link:hover {
        color: var(--color-menu-hover);
    }

    // Variable global.
    &__link:focus {
        border-color: var(--border-color-link-focus);
    }
}


.help-bar {
    display: flex;
    order: var(--order-help-bar);
    padding: var(--padding-help-bar);
    justify-content: var(--justify-content-help-bar);

    &__button {
        border: var(--border-link);
        padding: var(--padding-help-bar-button);
        border-radius: var(--border-radius-link);

        color: #fff;
        font-size: 40px;

        @include from(large) {
            font-size: 40px;
            color: #9b9b9b;
        }
    }

    &__button:hover {
        @include from(large) {
            // color: #0098b8;
            color: #3399ff;
        }
    }

    &__button:focus {
        border-color: var(--border-color-link-focus);
    }

    // &__button:first-child {
    //     margin-right: var(--margin-right-help-bar-button);
    // }

    // &__icon {
    //     width: 2.2rem;
    // }
}


.social-bar {
    margin-top: var(--margin-top-social-bar);
    background-color: var(--background-color-social-bar);

    &__wrapper {
        padding: var(--padding-wrapper);
    }

    &__title {
        color: var(--color-title);
        font-size: var(--font-size-title);
        margin-bottom: var(--margin-bottom-title);
    }

    &__icons {
        display: flex;
        justify-content: space-around;
        font-size: var(--font-size-icons);
    }

    a {
        color: #fff;
        border: var(--border-link);
        width: var(--width-social-bar-a);
        height: var(--height-social-bar-a);
        display: var(--display-social-bar-a);
        border-radius: var(--border-radius-link);
        align-items: var(--align-items-social-bar-a);
        justify-content: var(--justify-content-social-bar-a);
    }

    a:focus {
        border-color: var(--border-color-link-focus-alt);
    }
}

