
@use '../tools-sass/mixins' as *;

// VARIABLES GLOBALES.

:root {
    // Body font
    --font-size-body: 20px;
    // Body font-weight
    --font-weight-body: 400;
    // Logo Width
    --width-logo: 2.8rem;
    // Header height
    --height-header: 3.8rem;
}


// Variables y estilos para menu
:root {
    --color-menu: #fff;
    --color-menu-alt: #aab0b5;
    --font-weight-menu: 300;
    // TODO: Revisar la declaración de esta variable.
    --line-height-menu: 140%;
    --font-size-menu: 1.375rem;
    --color-menu-hover: #fff;

    @include from(large) {
        --color-menu: #6a7477;
        --color-menu-alt:#6a7477;
        // TODO: Revisar la declaración de esta variable.
        --line-height-menu: 145%;
        --font-weight-menu: 400;
        --font-size-menu: 1.125rem;
        --color-menu-hover: #0098b8;
    }
}


// Variables para cursor.
:root {
    --cursor-button: default;

    @include from(large) {
        --cursor-button: pointer;
    }
}

// Variables para los enlaces.
:root {

    @include from(large) {
        // Color de borde.
        --border-color-link-focus: #0098b8;
        --border-color-link-focus-alt: #62e884;
        --border-color-link-focus-other: #3399ff;

        // Tipo de borde
        --border-radius-link: .3125rem;
        --border-link: .125rem solid transparent;
    }
}





